<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link
      rel="stylesheet" 
      href="/static/styles.css"
    />
    {% block header %}{%endblock%}
  </head>
  <body>
    <div class="container mt-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" data-test="logo" href="/">Stepik Travel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" data-test="navigation">
          {% for key, value in menu_departures.items() %}
           <li class="nav-item active">
              <a 
                class="nav-link {% if request.path == key|destination_url %}active{% endif %}" 
                href="{{ key|destination_url }}" 
                data-test="navlink">{{ value }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </nav>

      {% block content %}{%endblock%}
    </div>
  </body>
</html>