{% extends "_base.j2" %} 
{% import "macros.j2" as macros %}

{% block header %}
<title>Stepik Travel</title>
{% endblock %} 

{% block content %}
<h1 class="display-5 mt-4">Летим из <span data-test="from">{{ menu_departures[direction]|clear_direction}}</span></h1>
<p class="mb-4" >Найдено <span data-test="tourcount">{{ tours|length }}</span> туров, от <span data-test="pricemin">{{(tours|min(attribute='price')).price|price}}</span> до <span data-test="pricemax">{{(tours|max(attribute='price')).price|price}}</span> и от <span data-test="nightsmax">{{(tours|min(attribute='nights')).nights}}</span> ночей до <span data-test="nightsmax">{{(tours|max(attribute='price')).nights}}</span> ночей</p>
<!-- HERO -->



<!-- CARDS -->

<div class="row mt-5" data-test="cards">
{% for item in tours %}
  {{ macros.tour_card(item) }}
{% endfor %}
</div>
{% endblock %}